<h2>Show course</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @course.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @course.body %>
  </li>

</ul>

<%= link "Edit", to: user_course_path(@conn, :edit, @user, @course) %>
<%= link "Back", to: user_course_path(@conn, :index, @user) %>
